@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

.Logo {
  text-shadow: 2px 2px 1px black;
  margin: auto;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.logo {
  border: 2px solid white;
  padding: 15px;
  margin: auto;
  text-align: center;
  width: 15%;
  letter-spacing: 4px;
}

@media (min-width: 576px) {
  .tagline {
    width: 30%;
    margin: auto;
    padding: 15px;
  }
}

.tagline {
  letter-spacing: 5px;
  margin-bottom: 20px;
  font-size: 12px;
  border-bottom: 2px solid white;
  padding-bottom: 15px;
}

.sign-four {
  /* -webkit-transform: matrix3d(0.77, 0, -0.64, -.001, 0.00, 1, 0.00, 0, 0.64, 0, 0.77, 0, 0, 0, 0, 1); */
  color: #f0d6de;
  font-family: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/clip.ttf");
  font-size: 100px;
  letter-spacing: 5px;
  line-height: 3vw;
  margin-top: 5px;
  padding-top: 3%;
  padding-bottom: 3%;
  /* transform: matrix3d(0.77, 0, -0.64, -.001, 0.00, 1, 0.00, 0, 0.64, 0, 0.77, 0, 0, 0, 0, 1); */
  text-shadow: 0.1vw 0vw 0.25vw #f0d6de, 0.2vw 0vw 0.25vw #f0d6de,
    0.4vw 0vw 0.25vw #f0d6de, 0.1vw 0vw 0.1vw #f181b2, 0.2vw 0vw 0vw #f181b2,
    0.4vw 0vw 0vw #f181b2, 0.1vw 0vw 0.1vw #f181b2, 0.2vw 0vw 0.1vw #f181b2,
    0.4vw 0vw 0vw #f181b2, 0.1vw 0vw 1vw #f181b2, 0.2vw 0vw 2vw #f181b2,
    0.4vw 0vw 2vw #f181b2, 0.2vw 0vw 5vw #f181b2, 0.1vw 0vw 0.5vw #f20b70,
    0.2vw 0vw 0.5vw #f20b70, 0.4vw 0vw 6vw #f20b70, 0.1vw 0vw 4vw #f20b70,
    0.2vw 0vw 20vw #f20b70, 0.4vw 0vw 10vw #f20b70, 0.1vw 0vw 10vw #f20b70,
    0.2vw 0vw 30vw #f20b70, 0.4vw 0vw 10vw #f20b70;
}

.currency {
  color: #fdf8fd;
  margin-top: 20px;
  padding: 5px;
  font-size: 30px;
  text-shadow: 0.1vw 0vw 0.25vw #fdf8fd, 0.2vw 0vw 0.25vw #fdf8fd,
    0.4vw 0vw 0.25vw #fdf8fd, 0.1vw 0vw 0.1vw #f1ec81, 0.2vw 0vw 0vw #f1ec81,
    0.4vw 0vw 0vw #f1ec81, 0.1vw 0vw 0.1vw #f1ec81, 0.2vw 0vw 0.1vw #f1ec81,
    0.4vw 0vw 0vw #f1ec81, 0.1vw 0vw 1vw #f1ec81, 0.2vw 0vw 2vw #f1ec81,
    0.4vw 0vw 2vw #f1ec81, 0.2vw 0vw 5vw #f1ec81, 0.1vw 0vw 0.5vw #f2e90b,
    0.2vw 0vw 0.5vw #f2e90b, 0.4vw 0vw 6vw #f2e90b, 0.1vw 0vw 2vw #f2e90b,
    0.2vw 0vw 5vw #f2e90b, 0.4vw 0vw 0vw #f2e90b;
}

.sign-four {
  animation: sign-four 1s 0s ease infinite;
  -moz-animation: sign-four 1s 0s ease infinite;
  /* Firefox */
  -webkit-animation: sign-four 1s 0s ease infinite;
  /* Safari and Chrome */
  -o-animation: sign-four 1s 0s ease infinite;
  /* Opera */
}

@keyframes sign-four {
  0%,
  100% {
    text-shadow: -0.1vw 0vw 0.1vw rgb(254, 222, 40), -0.15vw 0vw 0.2vw #fed128,
      -0.2vw 0vw 0.2vw #fed128, -0.1vw 0vw 3vw #f0130b, -0.2vw 0vw 3vw #f0130b,
      -0.4vw 0vw 3vw #f0130b, -0.1vw 0vw 5vw #f0130b, -0.2vw 0vw 5vw #f0130b,
      -0.4vw 0vw 0.8vw #f0130b, 0.2vw 0vw 10vw #f0130b;
    color: rgb(254, 40, 254);
  }

  50% {
    text-shadow: -0.1vw 0vw 0.1vw #705c12, -0.15vw 0vw 0.2vw #705c12,
      -0.2vw 0vw 0.2vw #705c12, -0.1vw 0vw 0.1vw #5c0704,
      -0.2vw 0vw 0.1vw #5c0704, -0.4vw 0vw 0.1vw #5c0704,
      -0.1vw 0vw 0.2vw #5c0704, -0.2vw 0vw 0.2vw #5c0704,
      -0.4vw 0vw 0.2vw #5c0704, 0.2vw 0vw 0.5vw #5c0704;
    color: #705c12;
  }
}
