.result-title {
  /* -webkit-transform: matrix3d(0.77, 0, -0.64, -.001, 0.00, 1, 0.00, 0, 0.64, 0, 0.77, 0, 0, 0, 0, 1); */
  color: #F0D6DE;
  font-family: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/clip.ttf');
  font-size: 60px;
  line-height: 4vw;
  padding: 30px 0;
  margin: auto;
  /* transform: matrix3d(0.77, 0, -0.64, -.001, 0.00, 1, 0.00, 0, 0.64, 0, 0.77, 0, 0, 0, 0, 1); */
  text-shadow:
    .1vw 0vw .25vw #F0D6DE, .2vw 0vw .25vw #F0D6DE, .4vw 0vw .25vw #F0D6DE,
    .1vw 0vw .1vw #F181B2, .2vw 0vw 0vw #F181B2, .4vw 0vw 0vw #F181B2,
    .1vw 0vw .1vw #F181B2, .2vw 0vw .1vw #F181B2, .4vw 0vw 0vw #F181B2,
    .1vw 0vw 1vw #F181B2, .2vw 0vw 2vw #F181B2, .4vw 0vw 2vw #F181B2, .2vw 0vw 5vw #F181B2,
    .1vw 0vw .5vw #F20B70, .2vw 0vw .5vw #F20B70, .4vw 0vw 6vw #F20B70,
    .1vw 0vw 4vw #F20B70, .2vw 0vw 20vw #F20B70, .4vw 0vw 10vw #F20B70,
    .1vw 0vw 10vw #F20B70, .2vw 0vw 30vw #F20B70, .4vw 0vw 10vw #F20B70;
}

.Result {
  background-color: rgb(32, 32, 32);
  color: white;
  padding: 20px;
}

.result-body {
  padding-top: 15px;
}

.feedback {
  border: 4px solid white;
  padding: 10px;
}

.ad {
  color: rgb(112, 74, 101);
  display: inline-block;
  font-size: 30px;
  text-shadow:
    -.1vw 0vw .25vw rgb(112, 74, 112), -.2vw 0vw .25vw rgb(112, 74, 110), -.4vw 0vw .25vw rgb(112, 74, 109),
    -.1vw 0vw .1vw rgb(73, 24, 77), -.2vw 0vw .1vw rgb(77, 24, 74), -.4vw 0vw .1vw rgb(77, 24, 70),
    -.1vw 0vw .8vw rgb(77, 24, 59), -.2vw 0vw .8vw rgb(77, 24, 59), -.4vw 0vw .8vw rgb(75, 24, 77), .2vw 0vw .5vw rgb(77, 24, 74),
    -.1vw 0vw .5vw rgb(77, 24, 68), -.2vw 0vw .5vw rgb(77, 24, 57), -.4vw 0vw .5vw rgb(77, 24, 66),
    -.1vw 0vw 2vw rgb(77, 24, 61), -.2vw 0vw 2vw rgb(77, 24, 64), -.4vw 0vw 2vw rgb(77, 24, 61);
}

.advice {
  /* -webkit-transform: matrix3d(0.77, 0, -0.64, -.001, 0.00, 1, 0.00, 0, 0.64, 0, 0.77, 0, 0, 0, 0, 1); */
  color: #F0D6DE;
  font-family: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/clip.ttf');
  font-size: 30px;
  line-height: 4vw;
  padding: 30px 0;
  margin: auto;
  /* transform: matrix3d(0.77, 0, -0.64, -.001, 0.00, 1, 0.00, 0, 0.64, 0, 0.77, 0, 0, 0, 0, 1); */
  text-shadow:
    .1vw 0vw .25vw #F0D6DE, .2vw 0vw .25vw #F0D6DE, .4vw 0vw .25vw #F0D6DE,
    .1vw 0vw .1vw #F181B2, .2vw 0vw 0vw #F181B2, .4vw 0vw 0vw #F181B2,
    .1vw 0vw .1vw #F181B2, .2vw 0vw .1vw #F181B2, .4vw 0vw 0vw #F181B2,
    .1vw 0vw 1vw #F181B2, .2vw 0vw 2vw #F181B2, .4vw 0vw 2vw #F181B2, .2vw 0vw 5vw #F181B2,
    .1vw 0vw .5vw #F20B70, .2vw 0vw .5vw #F20B70, .4vw 0vw 6vw #F20B70,
    .1vw 0vw 4vw #F20B70, .2vw 0vw 20vw #F20B70, .4vw 0vw 10vw #F20B70,
    .1vw 0vw 10vw #F20B70, .2vw 0vw 30vw #F20B70, .4vw 0vw 10vw #F20B70;
}

.blink {
  animation: heart .1s 0s ease infinite;
  -moz-animation: heart .1s ease infinite;
  /* Firefox */
  -webkit-animation: heart .1s ease infinite;
  /* Safari and Chrome */
  -o-animation: heart .1s ease infinite;
  /* Opera */
}

@keyframes heart {

  0%,
  100% {
    /* Enable hardware acceleration to fix laggy transitions */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    color: #F0D6DE;
    text-shadow:
      -.1vw 0vw .25vw #F0D6DE, -.2vw 0vw .25vw #F0D6DE, -.4vw 0vw .25vw #F0D6DE,
      -.1vw 0vw 1vw #F181B2, -.2vw 0vw .8vw #F181B2, -.4vw 0vw .8vw #F181B2, .2vw 0vw .5vw #F181B2,
      -.1vw 0vw 10vw #F20B70, -.2vw 0vw 10vw #F20B70, -.4vw 0vw 10vw #F20B70;
  }

  50% {
    /* Enable hardware acceleration to fix laggy transitions */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    color: #8F5493;
    text-shadow:
      -.1vw 0vw .25vw #8F5493, -.2vw 0vw .25vw #8F5493, -.4vw 0vw .25vw #8F5493,
      -.1vw 0vw .8vw #59125E, -.2vw 0vw .8vw #59125E, -.4vw 0vw .8vw #59125E, .2vw 0vw .5vw #59125E,
      -.1vw 0vw 3vw #42114E, -.2vw 0vw 3vw #42114E, -.4vw 0vw 3vw #42114E;
  }
}
