.Logo {
  text-shadow: 2px 2px 1px black;
  margin: auto;
  padding-top: 20px;
}

.logo {
  border: 2px solid white;
  padding: 15px;
  margin: auto;
  text-align: center;
  width: 15%;
  letter-spacing: 4px;
}

.tagline {
  letter-spacing: 5px;
  border-bottom: 2px solid white;
  margin-bottom: 20px;
}
